.DS_Store
._.DS_Store
*~
*.root
*.png
*.gif
*.pyc
*.tar.gz
*.o
*.d
*.txt
*.log
*.eps
*.pdf
.fuse_*
*.bak
obj/*
config/workdir_*
config/jobTempOutput_*
!/macros/src/Plots_BTagSF/*/*.pdf

# stuff to ignore in Henrik's work dir
plotting/*
combine_factory/*
genLevelStudy/*
config/constants.py
config/sample_db.py
config/xmlFileCreator.py
TOP-20-001/.ipynb_checkpoints/*
TOP-20-001/codeFromOtto/*
TOP-20-001/test.ipynb
